*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea/**
.idea/vcs.xml
.project
.strong-pm
coverage
node_modules
**/node_modules/*
npm-debug.log
.editorconfig
.eslintignore
.eslintrc
.gitignore
.yo-rc.json
README.md
nodemon.json
tsconfig.json
